@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-primary: 'Montserrat', sans-serif;
$font-chakra: 'Chakra Petch', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1360px
) !default;

$media-2xl: map-get($grid-breakpoints, '2xl');
$media-xl: map-get($grid-breakpoints, 'xl');
$media-lg: map-get($grid-breakpoints, 'lg');
$media-md: map-get($grid-breakpoints, 'md');
$media-sm: map-get($grid-breakpoints, 'sm');
$media-xs: map-get($grid-breakpoints, 'xs');

//White
$color-white: white;
//Black
$color-dark: black;
$color-black: #2b2b2b;
$color-black-2: #1a1a1a;
//Gray
$color-gray: #eee;
$color-gray-2: #e6e6e6;
$color-gray-3: #aaa;
//Yellow
$color-yellow: #ffd937;
$color-yellow-2: #e0dab8;
$color-yellow-3: #fff0ad;
//Red
$color-red: #ce181e;
$color-red-2: #f00201;
//Green
$color-green: #13483c;
$color-green-2: #14483d;
//Blue
$color-blue: #304296;
$color-blue-2: #0e5070;
$color-link: #20399d;

