@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-chakra: "Chakra Petch", sans-serif;

.editor-styles-wrapper {
  .wp-block-morpheus-ads {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-chakra;
    * {
      box-sizing: border-box;
    }
    .components-placeholder {
      background-color: #fff;
    }
    &.is-style-gray {
      .components-placeholder {
        background-color: #e0e0e0;
      }
    }
  }
  .cardads {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90px;
    padding: 1rem;
    background-color: #ddd;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  .ads--header {
    min-width: 100%;
    max-width: 970px;
    height: 150px;
  }
  .ads--billboard {
    min-width: 100%;
    /* min-width: 420px; */
    max-width: 970px;
    height: 250px;
  }
  .ads--arroba {
    width: 300px;
    height: 250px;
  }
  .ads--halfpage {
    width: 300px;
    height: 600px;
  }
}
