@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.editor-styles-wrapper {
  .cardformat {
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    background: white;
  }
  .cardnews {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 0;
    transition: all .3s;
    font-family: $font-chakra;
    @media (max-width: $media-md) {
      margin-bottom: 1rem;
    }
    &.is_admin {
      cursor: pointer !important;
    }
    .cardnews__wrapper {
      position: relative;
      flex: 1;
      display: flex;
      gap: 1rem;
    }
    .cardnews__image {
      position: relative;
      overflow: hidden;
      background-color: #aaa;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .cardnews__image:after {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      color: white;
      background: white;
      top: -20px;
      right: -20px;
      transform: rotate(45deg);
    }
    .cardnews__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      .cardnews__category {
        display: flex;
        margin-bottom: 1px;
        font-size: .75rem;
        font-weight: 700;
        line-height: 1;
        color: black !important;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        span {
          padding: 3px 10px;
          background-color: $primary-umdois-yellow;
        }
      }
      .cardnews__title {
        position: relative;
        margin: 0 !important;
        font-family: $font-chakra;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4;
        color: #000;
        transition: color .25s ease-out;
      }
    }
    .cardnews__relateds {
      font-family: $font-primary !important;
      font-size: .875rem;
      line-height: 1.125rem;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        list-style: none;
        &:before {
          content: '';
          position: absolute;
          top: 6px;
          left: 20px;
          width: 10px;
          height: 10px;
          border-radius: 3px;
          background-color: $primary-umdois-yellow;
        }
      }
    }

    &.cardnews--giga {
      .cardnews__content {
        padding: 1.5rem;
        .cardnews__title {
          // font-size: 3.2rem
          font-size: 2.6rem;
          font-weight: 900;
        }
      }
    }
    &.cardnews--mega {
      .cardnews__content {
        padding: 1rem;
        .cardnews__title {
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
    &.cardnews--large {
      .cardnews__content {
        padding: .75rem;
        .cardnews__title {
          // font-size: 1.8rem
          font-size: 1.65rem;
        }
      }
    }
    &.cardnews--small {
      .cardnews__content {
        .cardnews__title {
          font-size: 1.1rem;
          line-height: 1.25rem;
        }
      }
    }
    &.cardnews--mini {
      .cardnews__content {
        padding: .5rem;
        .cardnews__title {
          font-size: 0.85rem;
          line-height: 1rem;
        }
      }
    }

    &.cardnews--video {
      .cardnews__image {
        position: relative;
        &:after {
          @extend .cardformat;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOCA2LjgydjEwLjM2YzAgLjc5Ljg3IDEuMjcgMS41NC44NGw4LjE0LTUuMThjLjYyLS4zOS42Mi0xLjI5IDAtMS42OUw5LjU0IDUuOThDOC44NyA1LjU1IDggNi4wMyA4IDYuODJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
        }
      }
    }
    &.cardnews--gallery {
      .cardnews__image {
        position: relative;
        &:after {
          @extend .cardformat;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjIgMTZWNGMwLTEuMS0uOS0yLTItMkg4Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDEyYzEuMSAwIDItLjkgMi0yem0tMTAuNi0zLjQ3bDEuNjMgMi4xOCAyLjU4LTMuMjJjLjItLjI1LjU4LS4yNS43OCAwbDIuOTYgMy43Yy4yNi4zMy4wMy44MS0uMzkuODFIOWMtLjQxIDAtLjY1LS40Ny0uNC0uOGwyLTIuNjdjLjItLjI2LjYtLjI2LjggMHpNMiA3djEzYzAgMS4xLjkgMiAyIDJoMTNjLjU1IDAgMS0uNDUgMS0xcy0uNDUtMS0xLTFINWMtLjU1IDAtMS0uNDUtMS0xVjdjMC0uNTUtLjQ1LTEtMS0xcy0xIC40NS0xIDF6Ii8+PC9zdmc+);
          background-size: 25%;
        }
      }
    }

    &.cardnews--vertical {
      .cardnews__category {
        margin-top: -1.85rem;
      }
      .cardnews__wrapper {
        flex-direction: column;
        .cardnews__content {
          padding: 0 .25rem
        }
      }
      &.cardnews--inverted {
        .cardnews__category {
          margin-top: 0;
        }
        .cardnews__wrapper {
          flex-direction: column-reverse;
        }
      }
    }

    &.cardnews--horizontal {
      .cardnews__wrapper {
        flex-direction: row;
        .cardnews__image,
        .cardnews__content {
          flex: 1;
        }
      }
      .cardnews__relateds {
        border-top: 1px solid #ddd;
        padding-top: 1rem;
      }
      &.cardnews--inverted {
        .cardnews__wrapper {
          flex-direction: row-reverse;
        }
      }
    }

    &.cardnews--highlight {
      margin-bottom: 0 !important;
      overflow: hidden;
      width: 100%;
      .cardnews__wrapper {
        position: relative;
        min-height: 430px;
        height: 100%;
      }
      .cardnews__image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-size: cover;
        background-position: top center;
      }
      .cardnews__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 100px 25px 25px 25px !important;
        background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(0,0,0,0.9)), color-stop(100%, rgba(255,255,255,0)));
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(255,255,255,0)));
        background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
        .cardnews__category {
          max-width: 100%;
          font-size: 0.9rem;
          span {
            position: relative;
            display: inline-block;
            background-color: $primary-umdois-yellow;
            font-weight: 700;
            line-height: 1;
            color: black;
            letter-spacing: 2.4px;
          }
        }
        .cardnews__title {
          font-weight: 900 !important;
          span {
            background-color: #e6e6e6;
            color: black;
          }
        }
      }
      .cardnews__relateds {
        background-color: $dark;
        li {
          span {
            color: white;
          }
        }
      }
      &.cardnews--noimage {            // overflow: visible
        .cardnews__wrapper {
          display: flex;
          height: auto !important;
          min-height: 320px;
        }
        .cardnews__content {
          justify-content: center;
          position: relative;
          background: white !important;
          padding: 2rem !important;
          .cardnews__title {
            font-size: 1.8rem;
            font-weight: 900 !important;
            line-height: 1.1 !important;
            color: #333 !important;
          }
        }
      }
      &.cardnews--giga {
        .cardnews__content {
          .cardnews__title {
            font-size: 2.65rem;
            line-height: 1.25;
          }
          .cardnews__category {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 2.4px;
            span {
              padding: 5px;
            }
          }
        }
        &.cardnews--noimage {
          .cardnews__wrapper {
            min-height: 380px;
          }
          .cardnews__content {
            padding: 3.2rem !important;
            .cardnews__title {
              font-size: 2.8rem;
              font-weight: 900 !important;
            }
          }
        }
      }
      &.cardnews--mega {
        .cardnews__content {
          .cardnews__title {
            font-size: 2.65rem;
            line-height: 1.25;
          }
          .cardnews__category {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 2.4px;
            span {
              padding: 4px;
            }
          }
        }
        &.cardnews--noimage {
          .cardnews__content {
            padding: 3rem !important;
            .cardnews__title {
              font-size: 2.4rem;
              font-weight: 900 !important;
            }
          }
        }
      }
    }

    &.cardnews--boxed {
      padding: 2rem !important;
      background-color: white;
    }

    &.cardnews--advertising,
    &.cardnews--sponsored {
      .cardnews__content {
        position: relative;
        .cardnews__sponsor {
          color: #888;
          font-size: .8rem;
          line-height: 1;
          margin-top: 9px;
        }
      }
    }

  }

  .wp-block-cover {
      padding: 0;
    .wp-block-cover__inner-container {
      position: relative;
      padding: 2rem 1rem 1rem;
    }
    .wp-block-cover__inner-container > .wp-block-heading {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      margin: 0 auto;
      padding: .5rem 0;
      font-family: 'Chakra Petch', sans-serif;
      border-top: 4px solid black;
      font-size: 1.375rem !important;
      text-transform: uppercase;
      font-weight: 700;
    }
  
    .cardnews {
      border: 0 !important;
      padding: 1rem;
      background-color: white;
    }
  }
  .wp-block-columns {
    .wp-block-column {
      margin-left: 0 !important;
    }
    gap: 2rem;
    margin-bottom: 0;
  }
  .acf\/ads {
    min-height: 250px;
    max-width: 1190px;
    margin: 2rem auto;
    display: flex;

    > div {
      position: relative;
      flex: 1;
      background: url('https://www.gazetadopovo.com.br/assets2/images/bg-ads.png');

      &:before {
        color: #999;
        content: "Publicidade";
        display: block;
        font-family: $font-chakra;
        font-size: .625rem;
        letter-spacing: 1px;
        line-height: 100%;
        position: absolute;
        right: 0;
        text-align: right;
        text-transform: uppercase;
        top: -12px;
        z-index: 0;
      }
    }
    &.cardads--header {
      min-height: 150px;
      margin-top: 0;

      > div:before {
        top: 0px;
        z-index: 1;
        padding: 2px 4px;
        background-color: white;
      }
    }
  }
  div[class^="wp-container-"] {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}