@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.editor-styles-wrapper .cardformat, .editor-styles-wrapper .cardnews.cardnews--gallery .cardnews__image:after, .editor-styles-wrapper .cardnews.cardnews--video .cardnews__image:after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  background: white;
}
.editor-styles-wrapper .cardnews {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 0;
  transition: all 0.3s;
  font-family: "Chakra Petch", sans-serif;
}
@media (max-width: 768px) {
  .editor-styles-wrapper .cardnews {
    margin-bottom: 1rem;
  }
}
.editor-styles-wrapper .cardnews.is_admin {
  cursor: pointer !important;
}
.editor-styles-wrapper .cardnews .cardnews__wrapper {
  position: relative;
  flex: 1;
  display: flex;
  gap: 1rem;
}
.editor-styles-wrapper .cardnews .cardnews__image {
  position: relative;
  overflow: hidden;
  background-color: #aaa;
}
.editor-styles-wrapper .cardnews .cardnews__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.editor-styles-wrapper .cardnews .cardnews__image:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  color: white;
  background: white;
  top: -20px;
  right: -20px;
  transform: rotate(45deg);
}
.editor-styles-wrapper .cardnews .cardnews__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.editor-styles-wrapper .cardnews .cardnews__content .cardnews__category {
  display: flex;
  margin-bottom: 1px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: black !important;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.editor-styles-wrapper .cardnews .cardnews__content .cardnews__category span {
  padding: 3px 10px;
  background-color: #ffd937;
}
.editor-styles-wrapper .cardnews .cardnews__content .cardnews__title {
  position: relative;
  margin: 0 !important;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  transition: color 0.25s ease-out;
}
.editor-styles-wrapper .cardnews .cardnews__relateds {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 0;
  margin: 0;
}
.editor-styles-wrapper .cardnews .cardnews__relateds li {
  position: relative;
  list-style: none;
}
.editor-styles-wrapper .cardnews .cardnews__relateds li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #ffd937;
}
.editor-styles-wrapper .cardnews.cardnews--giga .cardnews__content {
  padding: 1.5rem;
}
.editor-styles-wrapper .cardnews.cardnews--giga .cardnews__content .cardnews__title {
  font-size: 2.6rem;
  font-weight: 900;
}
.editor-styles-wrapper .cardnews.cardnews--mega .cardnews__content {
  padding: 1rem;
}
.editor-styles-wrapper .cardnews.cardnews--mega .cardnews__content .cardnews__title {
  font-size: 2rem;
  font-weight: 900;
}
.editor-styles-wrapper .cardnews.cardnews--large .cardnews__content {
  padding: 0.75rem;
}
.editor-styles-wrapper .cardnews.cardnews--large .cardnews__content .cardnews__title {
  font-size: 1.65rem;
}
.editor-styles-wrapper .cardnews.cardnews--small .cardnews__content .cardnews__title {
  font-size: 1.1rem;
  line-height: 1.25rem;
}
.editor-styles-wrapper .cardnews.cardnews--mini .cardnews__content {
  padding: 0.5rem;
}
.editor-styles-wrapper .cardnews.cardnews--mini .cardnews__content .cardnews__title {
  font-size: 0.85rem;
  line-height: 1rem;
}
.editor-styles-wrapper .cardnews.cardnews--video .cardnews__image {
  position: relative;
}
.editor-styles-wrapper .cardnews.cardnews--video .cardnews__image:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOCA2LjgydjEwLjM2YzAgLjc5Ljg3IDEuMjcgMS41NC44NGw4LjE0LTUuMThjLjYyLS4zOS42Mi0xLjI5IDAtMS42OUw5LjU0IDUuOThDOC44NyA1LjU1IDggNi4wMyA4IDYuODJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}
.editor-styles-wrapper .cardnews.cardnews--gallery .cardnews__image {
  position: relative;
}
.editor-styles-wrapper .cardnews.cardnews--gallery .cardnews__image:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjIgMTZWNGMwLTEuMS0uOS0yLTItMkg4Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDEyYzEuMSAwIDItLjkgMi0yem0tMTAuNi0zLjQ3bDEuNjMgMi4xOCAyLjU4LTMuMjJjLjItLjI1LjU4LS4yNS43OCAwbDIuOTYgMy43Yy4yNi4zMy4wMy44MS0uMzkuODFIOWMtLjQxIDAtLjY1LS40Ny0uNC0uOGwyLTIuNjdjLjItLjI2LjYtLjI2LjggMHpNMiA3djEzYzAgMS4xLjkgMiAyIDJoMTNjLjU1IDAgMS0uNDUgMS0xcy0uNDUtMS0xLTFINWMtLjU1IDAtMS0uNDUtMS0xVjdjMC0uNTUtLjQ1LTEtMS0xcy0xIC40NS0xIDF6Ii8+PC9zdmc+);
  background-size: 25%;
}
.editor-styles-wrapper .cardnews.cardnews--vertical .cardnews__category {
  margin-top: -1.85rem;
}
.editor-styles-wrapper .cardnews.cardnews--vertical .cardnews__wrapper {
  flex-direction: column;
}
.editor-styles-wrapper .cardnews.cardnews--vertical .cardnews__wrapper .cardnews__content {
  padding: 0 0.25rem;
}
.editor-styles-wrapper .cardnews.cardnews--vertical.cardnews--inverted .cardnews__category {
  margin-top: 0;
}
.editor-styles-wrapper .cardnews.cardnews--vertical.cardnews--inverted .cardnews__wrapper {
  flex-direction: column-reverse;
}
.editor-styles-wrapper .cardnews.cardnews--horizontal .cardnews__wrapper {
  flex-direction: row;
}
.editor-styles-wrapper .cardnews.cardnews--horizontal .cardnews__wrapper .cardnews__image,
.editor-styles-wrapper .cardnews.cardnews--horizontal .cardnews__wrapper .cardnews__content {
  flex: 1;
}
.editor-styles-wrapper .cardnews.cardnews--horizontal .cardnews__relateds {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}
.editor-styles-wrapper .cardnews.cardnews--horizontal.cardnews--inverted .cardnews__wrapper {
  flex-direction: row-reverse;
}
.editor-styles-wrapper .cardnews.cardnews--highlight {
  margin-bottom: 0 !important;
  overflow: hidden;
  width: 100%;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__wrapper {
  position: relative;
  min-height: 430px;
  height: 100%;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-position: top center;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 100px 25px 25px 25px !important;
  background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#ffffff", GradientType=0 );
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__content .cardnews__category {
  max-width: 100%;
  font-size: 0.9rem;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__content .cardnews__category span {
  position: relative;
  display: inline-block;
  background-color: #ffd937;
  font-weight: 700;
  line-height: 1;
  color: black;
  letter-spacing: 2.4px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__content .cardnews__title {
  font-weight: 900 !important;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__content .cardnews__title span {
  background-color: #e6e6e6;
  color: black;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__relateds {
  background-color: #000;
}
.editor-styles-wrapper .cardnews.cardnews--highlight .cardnews__relateds li span {
  color: white;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--noimage .cardnews__wrapper {
  display: flex;
  height: auto !important;
  min-height: 320px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--noimage .cardnews__content {
  justify-content: center;
  position: relative;
  background: white !important;
  padding: 2rem !important;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--noimage .cardnews__content .cardnews__title {
  font-size: 1.8rem;
  font-weight: 900 !important;
  line-height: 1.1 !important;
  color: #333 !important;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--giga .cardnews__content .cardnews__title {
  font-size: 2.65rem;
  line-height: 1.25;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--giga .cardnews__content .cardnews__category {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2.4px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--giga .cardnews__content .cardnews__category span {
  padding: 5px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--giga.cardnews--noimage .cardnews__wrapper {
  min-height: 380px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--giga.cardnews--noimage .cardnews__content {
  padding: 3.2rem !important;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--giga.cardnews--noimage .cardnews__content .cardnews__title {
  font-size: 2.8rem;
  font-weight: 900 !important;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--mega .cardnews__content .cardnews__title {
  font-size: 2.65rem;
  line-height: 1.25;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--mega .cardnews__content .cardnews__category {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2.4px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--mega .cardnews__content .cardnews__category span {
  padding: 4px;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--mega.cardnews--noimage .cardnews__content {
  padding: 3rem !important;
}
.editor-styles-wrapper .cardnews.cardnews--highlight.cardnews--mega.cardnews--noimage .cardnews__content .cardnews__title {
  font-size: 2.4rem;
  font-weight: 900 !important;
}
.editor-styles-wrapper .cardnews.cardnews--boxed {
  padding: 2rem !important;
  background-color: white;
}
.editor-styles-wrapper .cardnews.cardnews--advertising .cardnews__content, .editor-styles-wrapper .cardnews.cardnews--sponsored .cardnews__content {
  position: relative;
}
.editor-styles-wrapper .cardnews.cardnews--advertising .cardnews__content .cardnews__sponsor, .editor-styles-wrapper .cardnews.cardnews--sponsored .cardnews__content .cardnews__sponsor {
  color: #888;
  font-size: 0.8rem;
  line-height: 1;
  margin-top: 9px;
}
.editor-styles-wrapper .wp-block-cover {
  padding: 0;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  position: relative;
  padding: 2rem 1rem 1rem;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container > .wp-block-heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 0;
  font-family: "Chakra Petch", sans-serif;
  border-top: 4px solid black;
  font-size: 1.375rem !important;
  text-transform: uppercase;
  font-weight: 700;
}
.editor-styles-wrapper .wp-block-cover .cardnews {
  border: 0 !important;
  padding: 1rem;
  background-color: white;
}
.editor-styles-wrapper .wp-block-columns {
  gap: 2rem;
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-columns .wp-block-column {
  margin-left: 0 !important;
}
.editor-styles-wrapper .acf\/ads {
  min-height: 250px;
  max-width: 1190px;
  margin: 2rem auto;
  display: flex;
}
.editor-styles-wrapper .acf\/ads > div {
  position: relative;
  flex: 1;
  background: url("https://www.gazetadopovo.com.br/assets2/images/bg-ads.png");
}
.editor-styles-wrapper .acf\/ads > div:before {
  color: #999;
  content: "Publicidade";
  display: block;
  font-family: "Chakra Petch", sans-serif;
  font-size: 0.625rem;
  letter-spacing: 1px;
  line-height: 100%;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  top: -12px;
  z-index: 0;
}
.editor-styles-wrapper .acf\/ads.cardads--header {
  min-height: 150px;
  margin-top: 0;
}
.editor-styles-wrapper .acf\/ads.cardads--header > div:before {
  top: 0px;
  z-index: 1;
  padding: 2px 4px;
  background-color: white;
}
.editor-styles-wrapper div[class^=wp-container-] {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}