@import "variables";

.block-editor-block-inspector {
  .components-base-control {
    &.components-focal-point-picker-control {
      margin-bottom: 0;
    }
  }
}

.editor-styles-wrapper {
  .cardformat {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    background: white;
  }
  .wp-block-morpheus-news {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 0;
    transition: all 0.3s;
    font-family: $font-chakra;
    @media (max-width: $media-md) {
      margin-bottom: 1rem;
    }
    &.news--boxed {
      padding: 2rem !important;
      background-color: white;
    }
    .news__wrapper {
      position: relative;
      flex: 1;
      display: flex;
      gap: 1rem;
    }
    .news__image {
      position: relative;
      overflow: hidden;
      clip-path: polygon(
        0 0,
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%
      );
      img {
        display: block;
        width: 100%;
        background-color: #aaa;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16 / 9;
      }
    }
    .news__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .news__hat {
      display: flex;
      margin-bottom: 2px;
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1;
      color: $color-dark;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      span {
        padding: 5px 8px;
        background-color: $color-yellow;
      }
    }
    .news__title {
      position: relative;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      font-family: $font-chakra;
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.4;
      color: #000;
      transition: color 0.25s ease-out;
    }
    &.news--title-gray {
      .news__title {
        margin-left: 5px;
        span {
          background-color: #e6e6e6;
          box-shadow: 0 0 0 5px #e6e6e6;
          color: black;
        }
      }
    }
    .news__relateds {
      font-family: $font-primary !important;
      font-size: 0.875rem;
      line-height: 1.125rem;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        list-style: none;
        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 20px;
          width: 10px;
          height: 10px;
          border-radius: 3px;
          background-color: $color-yellow;
        }
      }
    }

    &.news--giga {
      .news__hat {
        font-size: 1.5rem;
      }
      .news__title {
        font-size: 2.65rem;
      }
    }
    &.news--mega {
      .news__hat {
        font-size: 1.5rem;
      }
      .news__title {
        font-size: 2.25rem;
      }
    }
    &.news--large {
      .news__title {
        font-size: 1.75rem;
      }
    }
    &.news--small {
      .news__title {
        font-size: 1.125rem;
      }
    }

    &.news--story {
      .news__image {
        position: relative;
        &:after {
          @extend .cardformat;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOCA2LjgydjEwLjM2YzAgLjc5Ljg3IDEuMjcgMS41NC44NGw4LjE0LTUuMThjLjYyLS4zOS42Mi0xLjI5IDAtMS42OUw5LjU0IDUuOThDOC44NyA1LjU1IDggNi4wMyA4IDYuODJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
        }
      }
    }
    &.news--video {
      .news__image {
        position: relative;
        &:after {
          @extend .cardformat;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOCA2LjgydjEwLjM2YzAgLjc5Ljg3IDEuMjcgMS41NC44NGw4LjE0LTUuMThjLjYyLS4zOS42Mi0xLjI5IDAtMS42OUw5LjU0IDUuOThDOC44NyA1LjU1IDggNi4wMyA4IDYuODJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
        }
      }
    }
    &.news--gallery {
      .news__image {
        position: relative;
        &:after {
          @extend .cardformat;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjIgMTZWNGMwLTEuMS0uOS0yLTItMkg4Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDEyYzEuMSAwIDItLjkgMi0yem0tMTAuNi0zLjQ3bDEuNjMgMi4xOCAyLjU4LTMuMjJjLjItLjI1LjU4LS4yNS43OCAwbDIuOTYgMy43Yy4yNi4zMy4wMy44MS0uMzkuODFIOWMtLjQxIDAtLjY1LS40Ny0uNC0uOGwyLTIuNjdjLjItLjI2LjYtLjI2LjggMHpNMiA3djEzYzAgMS4xLjkgMiAyIDJoMTNjLjU1IDAgMS0uNDUgMS0xcy0uNDUtMS0xLTFINWMtLjU1IDAtMS0uNDUtMS0xVjdjMC0uNTUtLjQ1LTEtMS0xcy0xIC40NS0xIDF6Ii8+PC9zdmc+);
          background-size: 25%;
        }
      }
    }

    &.news--vertical {
      .news__wrapper {
        flex-direction: column;
      }
      &.news--has-image:not(.news--inverted) {
        .news__content {
          position: relative;
          top: -33px;
          padding-left: 5px;
        }
        &.news--giga,
        &.news--mega {
          .news__content {
            top: -42px;
          }
        }
      }
      .news__image {
        img {
          aspect-ratio: 16 / 9;
        }
      }
      &.news--inverted {
        .news__wrapper {
          flex-direction: column-reverse;
        }
      }
    }

    &.news--horizontal {
      .news__wrapper {
        flex-direction: row;
      }
      .news__image {
        flex: 1 1 35%;
        img {
          aspect-ratio: 1 / 1;
        }
      }
      .news__content {
        flex: 1 1 65%;
      }
      &.news--giga,
      &.news--mega {
        .news__wrapper {
          gap: 1.5rem;
        }
        .news__image {
          flex: 1 1 50%;
          img {
            aspect-ratio: 16 / 9;
          }
        }
        .news__content {
          flex: 1 1 50%;
        }
      }
      .news__relateds {
        border-top: 1px solid #ddd;
        padding-top: 1rem;
      }
      &.news--inverted {
        .news__wrapper {
          flex-direction: row-reverse;
        }
      }
    }

    &.news--highlight {
      margin-bottom: 0 !important;
      overflow: hidden;
      width: 100%;
      .news__wrapper {
        position: relative;
        min-height: 430px;
        height: 100%;
      }
      .news__image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-size: cover;
        background-position: top center;
      }
      .news__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 100px 25px 25px 25px !important;
        background: -webkit-gradient(
          left bottom,
          left top,
          color-stop(0%, rgba(0, 0, 0, 0.9)),
          color-stop(100%, rgba(255, 255, 255, 0))
        );
        background: -webkit-linear-gradient(
          bottom,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(0, 0, 0, 0.9)),
          to(rgba(255, 255, 255, 0))
        );
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
      }
      .news__hat {
        max-width: 100%;
        span {
          position: relative;
          display: inline-block;
          font-weight: 700;
        }
      }
      .news__title {
        font-weight: 900 !important;
        span {
          color: white;
        }
      }
      .news__relateds {
        background-color: $color-dark;
        li {
          span {
            color: white;
          }
        }
      }
      &.news--no-image {
        // overflow: visible
        .news__wrapper {
          display: flex;
          height: auto !important;
          min-height: 320px;
        }
        .news__content {
          justify-content: center;
          position: relative;
          background: white !important;
          padding: 2rem !important;
        }
        .news__title {
          font-size: 1.8rem;
          font-weight: 900 !important;
          line-height: 1.1 !important;
          color: #333 !important;
        }
      }
      &.news--giga {
        &.news--no-image {
          .news__wrapper {
            min-height: 380px;
          }
          .news__content {
            padding: 3.2rem !important;
          }
        }
      }
      &.news--mega {
        &.news--no-image {
          .news__content {
            padding: 3rem !important;
          }
        }
      }
    }

    &.news--advertising,
    &.news--sponsored {
      .news__content {
        position: relative;
      }
      .news__hat {
        span {
          background-color: $color-black;
          color: $color-yellow;
        }
      }
      .news_title {
        font-style: italic;
      }
      .news__sponsor {
        color: #888;
        font-size: 0.8rem;
        line-height: 1;
        margin-top: 9px;
      }
    }
  }

  .wp-block-cover {
    padding: 0;
    .wp-block-cover__inner-container {
      position: relative;
      padding: 2rem 1rem 1rem;
    }
    .wp-block-cover__inner-container > .wp-block-heading {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      margin: 0 auto;
      padding: 0.5rem 0;
      font-family: $font-chakra;
      border-top: 4px solid black;
      font-size: 1.375rem !important;
      text-transform: uppercase;
      font-weight: 700;
    }

    .news {
      border: 0 !important;
      padding: 1rem;
      background-color: white;
    }
  }
  .wp-block-columns {
    .wp-block-column {
      margin-left: 0 !important;
    }
    gap: 2rem;
    margin-bottom: 0;
  }

  .morpheus\/ads {
    min-height: 250px;
    max-width: 1190px;
    margin: 2rem auto;
    display: flex;

    > div {
      position: relative;
      flex: 1;
      background: url("https://www.gazetadopovo.com.br/assets2/images/bg-ads.png");

      &:before {
        color: #999;
        content: "Publicidade";
        display: block;
        font-family: $font-chakra;
        font-size: 0.625rem;
        letter-spacing: 1px;
        line-height: 100%;
        position: absolute;
        right: 0;
        text-align: right;
        text-transform: uppercase;
        top: -12px;
        z-index: 0;
      }
    }
    &.cardads--header {
      min-height: 150px;
      margin-top: 0;

      > div:before {
        top: 0px;
        z-index: 1;
        padding: 2px 4px;
        background-color: white;
      }
    }
  }
  div[class^="wp-container-"] {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.morpheus-news-modal {
  .components-modal__content {
    display: flex;
    flex-direction: column;
    .components-modal__header + div {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .search-results {
      flex: 1;
      height: auto;
    }
    .search-placeholder {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      border: 1px solid #333;
      .search-placeholder-loading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        font-family: $font-chakra;
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
