$bg-dark: #1c1c1c;
$bg-black: #282828;
$black-text-color: #bdbdbd;
$border-color: #ccc;
$background-gray: #f1f1f7;

$white: #fff;
$black: #222;
$dark: #000;
$blue: #0162fb;
$blue-dark: $blue;
$blue-light: $blue;
// $blue-dark: #005CA4
// $blue-light: #428ECA
$orange: #f26756;
$purple: #6c2396;
$green: #00D3AE;
// $green: #0CCFAD
// $green: #04d292
$grey-dark: #444444;
$grey-light: #f5f5f7;
$grey: #777777;
$red: #CA2A36;
// $yellow: #FBB12C
$yellow: #e88000;
$yellow-logo: #F9CA00;

$primary: $blue;
$blog-color: $green;
$soft-blue: #60adea;

$footer-text-head: #696969;

$content-h1-color: #333;
$content-titles-color: #000;
$content-paragraph-color: #444;
$content-date-color: #777;
$content-caption-color: #999;

$blog-archive-bg: #f1f1f7;
$bg-image-color: #aaa;

$social-facebook: #1C74E4;
$social-twitter: #1D9BF0;
$social-instagram: #AD3282;
$social-youtube: #FF0000;
$social-linkedin: #0077B5;
$social-pinterest: #E60023;
$social-whatsapp: #34BB47;
$social-share: #0C7AD7;

$sports-blue: $blue;
$sports-blue-dark: $blue;
$sports-green: $green;
$sports-grey: #888;
$sports-grey-dark: #444;
$sports-orange: $orange;
$sports-red: $red;
$sports-yellow: $yellow;
$sports-bg: #f1f1f7;
$sports-bg-table: #f5f5f5;
$sports-border-color: #dee2e6;

$form-login-blue: $blue;
$form-login-grey: #777;
$form-login-grey-dark: #444;
$form-login-grey-light: #999;
$form-login-orange: #f86427;
$form-login-bg-table: #ddd;
$form-login-border-color: #ccc;
$form-login-facebook: #4267B2;
$form-login-twitter: #29A4D9;

$new-bg-gray: #f2f2f2;
$new-text-color: #3f3f3f;
$new-title-color: #424242;
$new-purple: #6142f2;
$new-green: #29F229;

$myUser: #c9b973;
$myUserBorder: #ffd937;
$anotherUser: #b1c4ef;
$essayUser: #ffd937;
$essayBorder: #fff0ad;
$essay: #3a66c8;
$essayBorder: #b1c4ef;
$internUser: #2ea3b4;
$internUserBorder: #b4effa;
//Black
$primary-umdois-black: #000000;

//Gray
$primary-umdois-gray: #2b2b2b;
$secondary-umdois-gray: #707070;
$tertiary-umdois-gray: #aaaaaa;

//Yellow
$primary-umdois-yellow: #ffd937;

//White
$primary-white: #ffffff;

//Black
$primary-background-black: #000000;
$secondary-background-black: #1a1a1a;

//Yellow
$primary-background-yellow: #fed937;
$secondary-background-yellow: #fff0ad;

//Gray
$primary-background-gray: #2b2b2b;
$secondary-background-gray: #e6e6e6;
$tertiary-background-gray: #eeeeee;
$quaternary-background-gray: #eaeaea;
$quinary-background-gray: #e2e2e2;
$primary-border-gray: #ededed;
$secondary-border-gray: #aaaaaa;

//Red
$primary-background-red: #ce181e;

//Green
$primary-background-green: #13483c;

//Blue
$primary-background-blue: #304296;
$primary-text-link: #20399d;

//White
$primary-background-white: #ffffff;
